<form action="/students" method="post">
  <label for="first-name-fld">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-fld"/>

  <label for="last-name-fld">Last Name:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-fld"/>

  <label for="house-choice">House:</label>
  <select name="house_id" id=house-choice>
    <% @houses.each do |house| %>
        <option value=<%= house.id %>> <%= house.name %> </option>
    <% end %>
  </select>

  <label for="age-fld">Age:</label>
  <input
  type="text"
  name="age"
  id="age-fld="/>

  <input type="submit" value="Add Student">
</form>
